:root {
    --blame-row-hover-bg-color: rgb(212, 235, 242);
    --blame-row-selected-bg-color: rgb(139, 186, 194);
}

html, body, #root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.app {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.blameFileLine {
    font-family: 'Courier New', Courier, monospace;
    white-space: nowrap;
    display: flex;
    align-items: center;
    padding-right: 2px;
}

.blameFileLineNumber {
    display: inline-block;
    flex-shrink: 0;
    height: 100%;
    text-align: right;
    padding-right: 2px;
    background-color: var(--secondary-color);
}

.blameLineMetadata {
    flex-shrink: 0;
    display: flex;
    position: sticky;
    padding-left: 2px;
    left: 0;
    height: 100%;
    background-color: white;
    user-select: none;
}

.blameFileLineAuthor {
    display: inline-block;
    width: 120px;
    font-size: 13px;
    flex-shrink: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

.blameFileLineDate {
    width: 65px;
    font-size: 13px;
    text-align: right;
    padding-right: 2px;
    flex-shrink: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.blameLineContent {
    height: 100%;
    padding-left: 4px;
}
.blameLineContent:empty {
    padding-left: 0;
}

.blameFileLine:not(.selected):hover .blameLineMetadata,
.blameFileLine.hovered:not(.selected) .blameLineMetadata,
.blameFileLine:hover .blameLineContent,
.blameFileLine.hovered .blameLineContent {
    background-color: var(--blame-row-hover-bg-color);
}

.blameFileLine.selected .blameLineMetadata, .blameFileLine.selected .blameLineContent {
    background-color: var(--blame-row-selected-bg-color);
}