:root {
    --blame-row-hover-bg-color: rgb(212, 235, 242);
    --blame-row-selected-bg-color: rgb(139, 186, 194);
    --blame-row-line-num-col-bg-color: rgb(224, 224, 224);
    --blame-row-line-num-col-hottest-color: rgb(141, 0, 0);
    --blame-row-line-num-col-hotter-color: rgb(200, 82, 82);
    --blame-row-line-num-col-hot-color: rgb(222, 123, 123);
}

html, body, #root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.app {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.blameList {
    height: 100%;
    width: 100%;
}

.blameList .cm-editor {
    height: 100%;
}
.blameList .cm-scroller {
    font-family: "Recursive Mono", sans-serif;
}

@font-face {
    font-family: "Recursive Mono";
    src: url("../fonts/RecursiveMonoLnrSt-Regular.woff2") format('woff2');
}
@font-face {
    font-family: "Recursive Sans";
    src: url("../fonts/RecursiveSansLnrSt-Regular.woff2") format('woff2');
}

.blameLineMetadata {
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    padding-left: 4px;
    padding-right: 4px;
    left: 0;
    height: 100%;
    width: 200px;
    background-color: white;
    user-select: none;
    font-family: "Recursive Sans", sans-serif;
    color: black;
}

.blameFileLineAuthor {
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
}

.blameFileLineDate {
    text-align: right;
    flex-shrink: 0;
}
.blameFileLineDate.hottest {
    color: var(--blame-row-line-num-col-hottest-color);
}
.blameFileLineDate.hotter {
    color: var(--blame-row-line-num-col-hotter-color);
}
.blameFileLineDate.hot {
    color: var(--blame-row-line-num-col-hot-color);
}

.blameLineMetadata:not(.selected):hover,
.blameLineMetadata.hovered:not(.selected) {
    background-color: var(--blame-row-hover-bg-color);
}

.blameLineMetadata.selected {
    background-color: var(--blame-row-selected-bg-color);
}